<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="2.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    </script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
</head>
<body>
<div class="container" ng-app="ContactForm" ng-controller="cfController">
	<h1>AngularJS Contact Form</h1>
	<form name="cf"  ng-submit="submitForm(cf.$valid)" novalidate action = "/accounts" method="post">
		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" type="text" name="name" ng-model="name" required>
		</div>
		<div class="form-group">
			<label for="email">Email (optional)</label>
			<input id="email" type="email" name="email">
		</div>
		<div class="form-group">
			<label for="msg">Message</label>
			<textarea id="msg" name="message" rows="4" ng-model="msg" required></textarea>
		</div>
		<input type="submit" value="Send" ng-disabled="cf.$invalid"/>
	</form>
	<p ng-if = "jsonoutput">{{jsonoutput|json}}
	</p>
</div>
<script>
    var app = angular.module('ContactForm',[]);

app.controller("cfController",function($scope){
	$scope.submitForm = function(isValid) {
		this.formInput = {
        name: $("input[name='name']").val(),
        email: $("input[name='email']").val(),
        message: $("textarea[name='message']").val()
   };
		if (isValid) {
			$scope.jsonoutput = this.formInput; 
			console.log(this.formInput);
		} else {
			console.log('Failed to send message')
		}
	};
});
</script>
</body>
</html>